apiVersion: v1
baseDomain: {{ cluster_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: {{ number_workers }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ network_prefix }}.0/24
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
fips: false
pullSecret: '{{ pull_secret.stdout }}'
sshKey: |
  {{ ssh_public_key.stdout }}
{% if registry %}
imageDigestSources:
- mirrors:
  - bastion.{{ cluster_name }}.{{ cluster_domain }}:5000/openshift-release-dev
  source: quay.io/openshift-release-dev
additionalTrustBundle: |
{{ ca_cert.stdout }}
{% endif %}
{% if proxy %}
proxy:
  httpProxy: http://bastion.{{ cluster_name }}.{{ cluster_domain }}:3128
  httpsProxy: http://bastion.{{ cluster_name }}.{{ cluster_domain }}:3128
  noProxy: {{ cluster_name }}.{{ cluster_domain }}
{% endif %}
