default menu.c32
prompt 0
timeout 300
ontimeout 4

menu title OpenShift Container Platform {{ cluster_version }}

LABEL 1
  menu label ^1 - Install Bootstrap
  KERNEL http://bastion.{{ cluster_name }}.{{ cluster_domain }}:81/rhcos-4.9.0-x86_64-live-kernel-x86_64
  APPEND initrd=http://bastion.{{ cluster_name }}.{{ cluster_domain }}:81/rhcos-4.9.0-x86_64-live-initramfs.x86_64.img coreos.live.rootfs_url=http://bastion.{{ cluster_name }}.{{ cluster_domain }}:81/rhcos-4.9.0-x86_64-live-rootfs.x86_64.img coreos.inst.install_dev=/dev/vda coreos.inst.ignition_url=http://bastion.{{ cluster_name }}.{{ cluster_domain }}:81/{{ cluster_name}}/bootstrap.ign

LABEL 2
  menu label ^2 - Install Master
  KERNEL http://bastion.{{ cluster_name }}.{{ cluster_domain }}:81/rhcos-4.9.0-x86_64-live-kernel-x86_64
  APPEND initrd=http://bastion.{{ cluster_name }}.{{ cluster_domain }}:81/rhcos-4.9.0-x86_64-live-initramfs.x86_64.img coreos.live.rootfs_url=http://bastion.{{ cluster_name }}.{{ cluster_domain }}:81/rhcos-4.9.0-x86_64-live-rootfs.x86_64.img coreos.inst.install_dev=/dev/vda coreos.inst.ignition_url=http://bastion.{{ cluster_name }}.{{ cluster_domain }}:81/{{ cluster_name }}/master.ign

LABEL 3
  menu label ^3 - Install Worker
  KERNEL http://bastion.{{ cluster_name }}.{{ cluster_domain }}:81/rhcos-4.9.0-x86_64-live-kernel-x86_64
  APPEND initrd=http://bastion.{{ cluster_name }}.{{ cluster_domain }}:81/rhcos-4.9.0-x86_64-live-initramfs.x86_64.img coreos.live.rootfs_url=http://bastion.{{ cluster_name }}.{{ cluster_domain }}:81/rhcos-4.9.0-x86_64-live-rootfs.x86_64.img coreos.inst.install_dev=/dev/vda coreos.inst.ignition_url=http://bastion.{{ cluster_name }}.{{ cluster_domain }}:81/{{ cluster_name }}/worker.ign

LABEL 4
  menu label ^4 - Boot from local media
  LOCALBOOT
