allow bootp;
allow booting;

#max-lease-time 1200;
#default-lease-time 900;
max-lease-time -1;
default-lease-time -1;

log-facility local7;

authoritative;
ignore client-updates;

option ip-forwarding    false;
option mask-supplier    false;

# empty default subnet
subnet {{ ansible_default_ipv4.network }} netmask {{ ansible_default_ipv4.netmask }} {
}

subnet {{ network_prefix }}.0 netmask 255.255.255.0 {

    option  routers  {{ network_prefix }}.1;
    option  subnet-mask  255.255.255.0;
    option  domain-name-servers  {{ network_prefix }}.3;
    option  ntp-servers  {{ network_prefix }}.3;
    option  domain-search  "{{ cluster_domain }}";
    range   {{ network_prefix }}.100 {{ network_prefix }}.254;

    next-server {{ network_prefix }}.3;
    filename "pxelinux.0";
}

host bootstrap {
    option host-name "bootstrap.{{ cluster_name }}.{{ cluster_domain }}";
    hardware ethernet {{ mac_bootstrap }};
    fixed-address {{ network_prefix }}.9;
}

host master1 {
    option host-name "master1.{{ cluster_name }}.{{ cluster_domain }}";
    hardware ethernet {{ mac_master1 }};
    fixed-address {{ network_prefix }}.10;
}

host master2 {
    option host-name "master2.{{ cluster_name }}.{{ cluster_domain }}";
    hardware ethernet {{ mac_master2 }};
    fixed-address {{ network_prefix }}.11;
}

host master3 {
    option host-name "master3.{{ cluster_name }}.{{ cluster_domain }}";
    hardware ethernet {{ mac_master3 }};
    fixed-address {{ network_prefix }}.12;
}

{# This needs rework!!! #}
{# What if there are more workers ? #}

{% if mac_worker1 is defined %}
host worker1 {
    option host-name "worker1.{{ cluster_name }}.{{ cluster_domain }}";
    hardware ethernet {{ mac_worker1 }};
    fixed-address {{ network_prefix }}.20;
}
{% endif %}

{% if mac_worker2 is defined %}
host worker2 {
    option host-name "worker2.{{ cluster_name }}.{{ cluster_domain }}";
    hardware ethernet {{ mac_worker2 }};
    fixed-address {{ network_prefix }}.21;
}
{% endif %}

{% if mac_worker3 is defined %}
host worker3 {
    option host-name "worker3.{{ cluster_name }}.{{ cluster_domain }}";
    hardware ethernet {{ mac_worker3 }};
    fixed-address {{ network_prefix }}.22;
}
{% endif %}