$TTL	30 ; ONLY THIS SHORT FOR TESTING, changes are cached this long
@  1D  IN	 SOA ns1.{{ cluster_domain }}.	dnsmaster.{{ cluster_domain }}. (
			      2002022401 ; serial
			      3H ; refresh
			      15 ; retry
			      1w ; expire
			      3h ; minimum
			     )
		IN	NS	ns1.{{ cluster_domain }}.

; server host definitions

$ORIGIN {{ network_reverse }}.IN-ADDR.ARPA.

3     IN    PTR    bastion.{{ cluster_name }}.{{ cluster_domain }}.
3     IN    PTR    api.{{ cluster_name }}.{{ cluster_domain }}.
3     IN    PTR    api-int.{{ cluster_name }}.{{ cluster_domain }}.

9     IN    PTR    bootstrap.{{ cluster_name }}.{{ cluster_domain }}.

10    IN    PTR    master1.{{ cluster_name }}.{{ cluster_domain }}.
11    IN    PTR    master2.{{ cluster_name }}.{{ cluster_domain }}.
12    IN    PTR    master3.{{ cluster_name }}.{{ cluster_domain }}.

{% set ip = namespace(value=20) %}
{% for i in range(1, (number_workers | int) + 1) %}
{{ ip.value }}    IN    PTR    worker{{ i }}.{{ cluster_name }}.{{ cluster_domain }}.
{% set ip.value = ip.value + 1 %}
{% endfor %}
