#!/usr/bin/env bash

if ! [ -f /root/registry/pull-secret.json ]; then

  mkdir -p /root/registry/

  AUTH=$(echo -n 'admin:redhat' | base64 -w0)

  cat /root/pull-secret.txt | jq '.auths += { "bastion.{{ cluster_name }}.{{ cluster_domain }}:5000": {"auth": "AUTH_PLACEHOLDER", "email": "{{ pull_secret_email }}" } }' | sed -e "s#AUTH_PLACEHOLDER#${AUTH}#" >> /root/registry/pull-secret.json

fi

